/* TrapecioCompuesto.css */
.form-container {
    margin: 0 auto;
    width: 80%;
    max-width: 600px;
    padding: 20px;
    text-align: center;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .input {
    padding: 8px;
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .submit-button {
    background-color: #2a9d8f;
    color: white;
    padding: 10px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #264653;
  }
  
  .graph-section {
    margin-top: 30px;
  }
  
  h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  