.container {
  padding: 20px;
}

.text-Method {
  text-align: center;
}

.calculate-button {
  margin-top: 20px;
}

.result-container {
  margin-top: 40px;
}

.error-message {
  color: red;
  font-weight: bold;
}

#graph {
  margin-top: 40px;
}
